<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" style="background-color: #e3dbd7;">

        <div class="container">
            <a href="#" class="navbar-brand">
                Przykładowy layout
            </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbartext" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item"><a href="" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="" class="nav-link">Best</a></li>
                <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Przykładowy layout sklepu</h1>
            <p class="lead">W tym sklepie znajdziesz wszystko co potrzebne</p>
            <hr class="my-4">
            <button class="btn btn-lg btn-primary">Wciśnij aby zobaczyć</button>
        </div>
    </div>
</header>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home page</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="#">Lorem</a>
            </li>
        </ol>
    </nav>
    <main class="row">
        <div class="col-md-3">
            <h2 class="mb-4">Kategorie</h2>
            <div class="list-group">
                <a href="#" class="list-group-item active list-group-item-action">
                    Lorem
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Lorem
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Lorem
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Lorem
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    Lorem
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <h2 class="mb-4">Produkty</h2>
            <ul class="pagination">
                <li class="page-item">
                    <a href="#" class="page-link">Poprzednia</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item">
                    <a href="#" class="page-link">Następna</a>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="./graf3.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title mb-0">Herbata
                                <span class="badge bg-success" style="background-color: green">New!</span>
                            </h3>                          
                            <p class="mt-0">Napij się dobrej herbaty</p>
                        </div>
                        <div class="card-footer text-center">
                            100$
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="./graf3.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title mb-0">Herbata
                            </h3>                          
                            <p class="mt-0">Napij się dobrej herbaty</p>
                        </div>
                        <div class="card-footer text-center">
                            100$
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="./graf3.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title mb-0">Herbata
                            </h3>                          
                            <p class="mt-0">Napij się dobrej herbaty</p>
                        </div>
                        <div class="card-footer text-center">
                            100$
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="./graf3.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h3 class="card-title mb-0">Herbata
                            </h3>                          
                            <p class="mt-0">Napij się dobrej herbaty</p>
                        </div>
                        <div class="card-footer text-center">
                            100$
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
<footer class="bg-secondary text-white">
    <div class="container">
        <div class="row">
        <div class="col-md-8">
            <h5>Dobry sklep...</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eos consequuntur, dolores eveniet maxime delectus cumque qui officiis laborum maiores quisquam beatae similique error mollitia, quibusdam itaque, numquam praesentium? Voluptatibus.</p>
        </div>
        <div class="col-md-4">
            <form action="">
                <h5>Newsletter</h5>
                
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="adres email">
                    <div class="input-group-append">
                        <button class="btn btn-primary">
                            Zapisz się!
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</footer>
</body>
</html>